
a{
    text-decoration: none;
    color: white;
}
li {
    display: inline;
}
#title {
    color:white;
    padding-right: 100px;
}
#n{
padding: 20px;
}
#nav-cont {
    background-color: black;
}

nav ul{
    background-color: black;
    margin:0;
    height: 80px;
    
}

nav{
    color: white;
}
.container {
    display: flex;
}
/* .links{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: white;
    text-decoration: none;

} */

/* .flexbox-item-date{
    display: flex;
    justify-content: center;
    align-items: flex-end;

} */


.title{
    display: inline;
    align-items: center;
    font-size: xx-large;

}

nav a:hover{
    color: white;
}

nav a:visited{
    color: white;
 }

.background_image{
    background-image: url(../images/background_theater.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.text{
    color: white;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 80px;
    width: 100%;
}

*{
    font-family: 'Roboto', sans-serif;
}
.flexbox-item-date{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* .button{
    background-color: darkgoldenrod;
} */

.date{
    width: 45%;
    background-color: rgba(196, 194, 194, 0.336);
    margin-left: 520px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.flexbox-container{
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}

.flexbox-container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.flexbox-item2{
    width: 14%;
    justify-content: center;
    margin-left: 30px;
    margin-right: 150px;
}

.button{
    color: white;
    background-color: gold;
    font-size: large;
    height: 40px;
    border-color: gold;
}

